@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.MassStoreGenerator.ViewModels
@using BTCPayServer.Plugins.MassStoreGenerator.Views
@model List<MassStoresViewModel>
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Stores Generator");
}
<h1>@ViewData["Title"]</h1>


<form method="post">
    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">Generated Stores</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <a asp-controller="UIMassStoreGenerator" asp-action="Create" class="btn btn-primary">Generate Stores</a>
        </div>
    </div>
</form>

@if (Model.Any())
{
    <form method="post" asp-action="MassAction">
        <div class="table-responsive">
            <table class="table table-hover mass-action">
                <thead class="mass-action-head">
                    <tr>
                        <th scope="col">Store Name</th>
                        <th scope="col" class="text-end"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pp in Model)
                    {
                        <tr id="invoice_@pp.StoreId" class="mass-action-row">
                            <td>@pp.StoreName</td>
                            <td class="text-end">
                                <a asp-controller="UIStores"
                                   asp-action="Index"
                                   asp-route-storeId="@pp.StoreId">
                                    <vc:icon symbol="actions-show" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
}
else
{
    <p class="text-secondary mt-4">
        There are no stores generated. Click on the generate Store to begin.
    </p>
}
