@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Services
@using BTCPayServer.Client
@using BTCPayServer.Controllers
@using BTCPayServer.Data
@using BTCPayServer.Plugins.BigCommercePlugin.Views
@model BTCPayServer.Plugins.BigCommercePlugin.ViewModels.InstallBigCommerceViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Big Commerce");
}

<div class="container mt-5">
    <div class="d-sm-flex align-items-center">
        <h2 class="mb-0">
            @ViewData["Title"]
        </h2>
    </div>
    @if (!Model.HasError)
    {
        <form id="input-form" method="post" asp-action="Create">
            <div class="d-flex justify-content-end mb-2">
                <input type="submit" value="Update Credentials" class="btn btn-primary btn-sm" id="Create" />
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ClientId" class="form-label"></label>
                        <input asp-for="ClientId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ClientSecret" class="form-label"></label>
                        <input asp-for="ClientSecret" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="StoreName" class="form-label"></label>
                        <input asp-for="StoreName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthCallBackUrl" class="form-label"></label>
                        <input asp-for="AuthCallBackUrl" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="LoadCallbackUrl" class="form-label"></label>
                        <input asp-for="LoadCallbackUrl" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="UninstallCallbackUrl" class="form-label"></label>
                        <input asp-for="UninstallCallbackUrl" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckoutScriptUrl" class="form-label"></label>
                        <input asp-for="CheckoutScriptUrl" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="alert alert-warning mt-4 p-2">
            <p class="mb-0" style="font-size: 0.9rem;">
                To proceed with the BigCommerce plugin on this store, you need to
                <a href="@Url.Action(nameof(UIStoresController.SetupWallet), "UIStores", new { cryptoCode = Model.CryptoCode, storeId = Model.StoreId })" class="alert-link">
                    set up a wallet
                </a>
                first.
            </p>
        </div>

    }
</div>
