@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Services
@using BTCPayServer.Client
@using BTCPayServer.Data
@using BTCPayServer.Plugins.MassStoreGenerator.Views
@model BTCPayServer.Plugins.BigCommercePlugin.ViewModels.InstallBigCommerceViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Big Commerce");
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ClientId" class="form-label"></label>
            <input asp-for="ClientId" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="ClientSecret" class="form-label"></label>
            <input asp-for="ClientSecret" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="StoreName" class="form-label"></label>
            <input asp-for="StoreName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="AuthCallBackUrl" class="form-label"></label>
            <input asp-for="AuthCallBackUrl" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="LoadCallbackUrl" class="form-label"></label>
            <input asp-for="LoadCallbackUrl" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="UninstallCallbackUrl" class="form-label"></label>
            <input asp-for="UninstallCallbackUrl" class="form-control" readonly />
        </div>
    </div>
</div>