<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTCPay Server - Big Commerce</title>
</head>
<body>
    <p>User authentication was successful</p>
</body>
</html>
