@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.MassStoreGenerator.Views
@model BTCPayServer.Plugins.MassStoreGenerator.ViewModels.CreateStoreViewModel
CreateStoreViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Plugin Template");
}
<h1>@ViewData["Title"]</h1>
<p>Here is an image loaded from the plugin</p>
<p>
    <a href="https://twitter.com/NicolasDorier/status/1307221679014256640">
        <img src="/Resources/img/screengrab.png"/>
    </a>
</p>

<h2>Persisted Data</h2>
<p>
    The following is data persisted to the configured database but in an isolated DbContext.
    Every time you start BTCPay Server with this plugin enabled, a timestamp is logged.
</p>
@* <ul class="list-group">
    @foreach (var item in Model.Data)
    {
        <li class="list-group-item">@item.Id at @item.Timestamp.ToString("F")</li>
    }
</ul> *@

<div class="container">
                    
	
        <div class="control-group" id="fields">
            <div class="controls"> 
                <form role="form" autocomplete="off">
                 <div style="width: 25%;float: left;" >
                        <input class="form-control" placeholder="Name this snippet" name="voca" type="text" value="Dynamic Form Fields - Add & Remove BS3">
                    </div>
                    </br>
                    </br>
                    <div style="width: 25%;float: left;">
                        <input class="form-control" placeholder="Name this snippet" name="vocatrans" type="text" value="Dynamic Form Fields - Add & Remove BS3">
                    </div>
                    </br>
                    </br>

                <div class="row">
                   
                    <div class="voca">
                    <div class="col-md-3">
                        <input class="form-control" placeholder="Name this snippet" name="voca" type="text" value="Dynamic Form Fields - Add & Remove BS3">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" placeholder="Name this snippet" name="vocatrans" type="text" value="Dynamic Form Fields - Add & Remove BS3">
                    </div>
                    <div class="col-md-1">
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-success btn-add" >
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add more
                    </button>
                    </div>
                    </div>    
                    
                </form>
            <br>

            </div>
        </div>

</div>
