@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using System.Globalization
@using BTCPayServer.Plugins.SimpleTicketSales.Data
@using BTCPayServer.Plugins.SimpleTicketSales.ViewModels
@inject IFileService FileService
@inject IScopeProvider ScopeProvider
@model TicketTypeViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Ticket Types");
    var canUpload = await FileService.IsAvailable();
    var storeId = ScopeProvider.GetCurrentStoreId();
    bool isEditMode = !string.IsNullOrEmpty(Model.EventId);
    string formAction = isEditMode
        ? Url.Action("UpdateTicketType", "UITicketType", new { eventId = Model.EventId, storeId, ticketTypeId = Model.Id })
        : Url.Action("CreateTicketType", "UITicketType", new { eventId = Model.EventId, storeId });
}

<div class="sticky-header">
    <h2 text-translate="true">@ViewData["Title"]</h2>
    <div class="d-flex gap-3 mt-3 mt-sm-0">

        <a id="create-event" asp-controller="UITicketSales" asp-action="List" asp-route-storeId="@storeId" class="btn btn-success" role="button">Go to Events</a>
        <button type="submit" form="event-form" class="btn btn-success">@(isEditMode ? "Update Event" : "Create Event")</button>
    </div>
</div>

<partial name="_StatusMessage" />

<form id="event-form" action="@formAction" method="post">
    <div class="row">
        <div class="col-sm-10 col-md-9 col-xl-7 col-xxl-6">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Name" class="form-label" data-required></label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            @* <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Name" class="form-label" data-required></label>
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="EventLink" class="form-label" data-required></label>
                        <input asp-for="EventLink" class="form-control" required />
                        <span asp-validation-for="EventLink" class="text-danger"></span>
                    </div>
                </div>
            </div> *@
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Description" class="form-label" data-required></label>
                <textarea asp-for="Description" rows="5" class="form-control richtext" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="d-flex flex-wrap gap-3 mb-3">
                <div class="form-group w-250px mb-0">
                    <label asp-for="Price" class="form-label" data-required></label>
                    <input inputmode="decimal" asp-for="Price" class="form-control" required min="1" step="1" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="form-label"></label>
                    <input inputmode="numeric" asp-for="Quantity" class="form-control" required min="1"  />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>
