@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Services
@using BTCPayServer.Client
@using BTCPayServer.Controllers
@using BTCPayServer.Plugins.GhostPlugin.Data
@using BTCPayServer.Plugins.GhostPlugin.ViewModels
@using Microsoft.AspNetCore.Routing
@inject IScopeProvider ScopeProvider
@model GhostSettingsPageViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Ghost Settings");
    var storeId = ScopeProvider.GetCurrentStoreId();
}

<div class="sticky-header d-flex align-items-center justify-content-between">
    <h2 text-translate="true">@ViewData["Title"]</h2>
    <div class="d-flex gap-2">
        <a id="page-primary" asp-action="Index" asp-controller="UIGhost" asp-route-storeId="@storeId" class="btn btn-primary" role="button">
            View Credentials
        </a>
        <input type="submit" value="Save Changes" class="btn btn-success" id="Edit" form="settingsForm" />
    </div>
</div>

<partial name="_StatusMessage" />

<form method="post" asp-action="Settings" id="settingsForm">
    <div class="row">
        <div class="col-md-6"> 
            <div class="form-group d-flex align-items-center">
                @{
                    var storeEmailSettingsConfigured = (bool)ViewData["StoreEmailSettingsConfigured"];
                }
                <input asp-for="EnableAutomatedEmailReminders" type="checkbox" class="btcpay-toggle me-3" id="emailToggle" disabled="@(storeEmailSettingsConfigured ? null : "disabled")" />
                <div>
                    <label asp-for="EnableAutomatedEmailReminders" class="form-check-label"></label>
                    <span asp-validation-for="EnableAutomatedEmailReminders" class="text-danger"></span>
                    @if (!storeEmailSettingsConfigured)
                    {
                        <div class="text-secondary">
                            <span text-translate="true">Your email server has not been configured.</span>
                            <a asp-controller="UIStores" asp-action="StoreEmailSettings" text-translate="true" asp-route-storeId="@storeId">Please configure it first.</a>
                        </div>
                    }
                </div>
            </div>
            <div id="emailTemplateGroup" style="display: none;">
                <div class="form-group">
                    <label asp-for="ReminderStartDaysBeforeExpiration" class="form-label">Customize Subject</label>
                    <input asp-for="ReminderStartDaysBeforeExpiration" type="number" class="form-control" min="1" placeholder="Enter custom days" />
                    <span asp-validation-for="ReminderStartDaysBeforeExpiration" class="text-danger"></span>
                </div>
            </div>
            @* <input type="number" class="form-control mt-2 d-none" id="customDaysInput" asp-for="CustomReminderDays" min="1" placeholder="Enter custom days"> *@
        </div>
    </div>
</form>


@section PageFootContent {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const emailToggle = document.getElementById('emailToggle');
            const emailTemplateGroup = document.getElementById('emailTemplateGroup');
            const toggleEmailTemplateVisibility = () => {
                emailTemplateGroup.style.display = emailToggle.checked ? 'block' : 'none';
            };
            emailToggle.addEventListener('change', toggleEmailTemplateVisibility);
            toggleEmailTemplateVisibility();
        });
    </script>
}