@using BTCPayServer.Abstractions.Contracts
@using Microsoft.AspNetCore.Routing

@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}

@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a layout-menu-item="StoreMonitor" asp-controller="UIStoreAlert" asp-action="StoreMonitorSettings" asp-route-storeId="@storeId">
            <span text-translate="true">Store Health Monitor</span>
        </a>
    </li>
}