@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using BTCPayServer.Security
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IScopeProvider ScopeProvider
@inject IAuthorizationService AuthorizationService
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    var isServerAdmin = (await AuthorizationService.AuthorizeAsync(User, null, new PolicyRequirement(Policies.CanModifyServerSettings))).Succeeded;
}

@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a layout-menu-item="StoreBridge-Export" asp-controller="UILightSpeed" asp-action="Settings" asp-route-storeId="@storeId">
            <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M392.487 0.952148L446.431 95.0874C457.227 114.568 457.227 138.371 446.431 157.844L124.896 717.253L277.03 981.265C300.767 1022.38 345.006 1048.35 392.487 1048.35C439.96 1048.35 484.199 1022.38 507.936 981.265L660.077 717.253L620.15 645.835L447.514 945.556C436.725 965.036 415.148 976.934 393.563 976.934C370.902 976.934 350.4 965.036 339.611 945.556L206.896 717.253L505.777 197.884L559.728 292.019C570.517 311.492 570.517 335.295 559.728 354.776L351.483 717.253L392.487 788.664L619.074 394.808L767.973 653.41C790.634 693.45 790.634 742.143 767.973 782.175L616.915 1045.11C594.254 1085.14 521.96 1174.95 392.487 1174.95C263.006 1174.95 191.788 1085.14 168.051 1045.11L16.9932 782.175C-5.66049 742.143 -5.66049 693.45 16.9932 653.41L392.487 0.952148Z" fill="#191513" />
            </svg>
            <span>Light Speed</span>
        </a>
    </li>
}